<h1>Pandas Series</h1>

In [1]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data =[10,20,30]
arr = np.array(my_data)
d={'a':10,'b':20,'c':30}

In [4]:
labels

['a', 'b', 'c']

In [5]:
my_data

[10, 20, 30]

In [6]:
arr

array([10, 20, 30])

In [7]:
d

{'a': 10, 'b': 20, 'c': 30}

In [8]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels) # both are in order and equal in numbers

a    10
b    20
c    30
dtype: int64

In [11]:
label2 = ['b','a','c']

In [13]:
pd.Series(my_data,label2)

b    10
a    20
c    30
dtype: int64

In [15]:
pd.Series(arr,labels) #numpy array , labels

a    10
b    20
c    30
dtype: int32

In [16]:
pd.Series(d) #dictionaries  and not key will be assigned as label

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [19]:
pd.Series(data=[sum,print,len]) #can hold anything

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
#works like hash tables

In [21]:
ser1 = pd.Series([1,2,3,4],["USA","Germany","USSR","Japan"])

In [22]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [23]:
ser2 = pd.Series([1,2,3,4],["USA","Germany","Italy","Japan"])

In [24]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [25]:
ser1['USA']

1

In [26]:
ser2["Italy"]

3

In [27]:
ser1[1]

2

In [31]:
ser3= pd.Series(data=labels)

In [33]:
ser3

0    a
1    b
2    c
dtype: object

In [34]:
ser3[2]

'c'

In [35]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [37]:
ser2 = pd.Series([1,2,3,4],["USA","Germany","Italy","Japan"])
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [39]:
ser1+ser2 #here we can see whatever index in both it will add else put NAN Integer convert to float

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

<h1>Pandas Dataframe</h1>

In [40]:
from numpy.random import randn

In [44]:
np.random.seed(101) #it will fix the random numbers to one particular value

In [45]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
#DataFrame(data,index,column)

In [46]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [48]:
type(df['W'])

pandas.core.series.Series

In [49]:
type(df)

pandas.core.frame.DataFrame

In [50]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [51]:
df['W'] #this is recommonded

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [52]:
df[['W','Z']] #multiple columns

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [53]:
#Creating a new column

In [54]:
df['new'] = df['W'] + df['Y']

In [55]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [57]:
#df.drop('new') axis is must
df.drop('new',axis=1) #axis=0 index , axis=1 means columns

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [58]:
#In the above command drop doesn't happened in place we specify

In [59]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [63]:
df.drop('new',inplace=True,axis=1) #inplace tell to actually drop column

In [61]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509