In [2]:
import numpy as np
import pandas as pd
%matplotlib inline

In [3]:
df1 = pd.read_csv('df1',index_col=0)

In [4]:
df1.head()

                   A         B         C         D
2000-01-01  1.339091 -0.163643 -0.646443  1.041233
2000-01-02 -0.774984  0.137034 -0.882716 -2.253382
2000-01-03 -0.921037 -0.482943 -0.417100  0.478638
2000-01-04 -1.738808 -0.072973  0.056517  0.015085
2000-01-05 -0.905980  1.778576  0.381918  0.291436