In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [5]:
1/2.0

0.5

In [6]:
2**4

16

In [7]:
2+3*5+5 #BODMAS Follows here

22

In [8]:
5%2

1

In [9]:
8%2

0

Variable Name Section

In [10]:
var =2

In [11]:
var

2

In [12]:
x=2
y=2

In [13]:
x = x+x

In [14]:
x

4

In [15]:
#variable should not start with number 12abc
name_of_var = 12

In [16]:
#String

In [17]:
'single quotes'

'single quotes'

In [18]:
"single quotes"

'single quotes'

In [19]:
"i can't go"

"i can't go"

In [20]:
x = "hello"

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [23]:
num = 12
name = "Sam"

In [33]:
print("My Number is {} and my name is {} ".format(num,name)) #formatting print

My Number is 12 and my name is Sam

In [34]:
print("My number is {one} and my name is {two}".format(one=num,two=name))#no order required here

My number is 12 and my name is Sam

In [39]:
s ="abcdefghijk"

In [40]:
s[4]

'e'

In [41]:
s[0:]

'abcdefghijk'

In [42]:
s[0:3]#Slicing exclusive indexing last one is not included

'abc'

In [43]:
s[3:6]

'def'

In [44]:
[1,3,4]

[1, 3, 4]

In [45]:
["a","b","c"]

['a', 'b', 'c']

In [47]:
my_list = ["a","b","c"]

In [49]:
my_list.append('d')

In [51]:
my_list

['a', 'b', 'c', 'd']

In [52]:
nest=[1,2,[3,4]]

In [53]:
nest

[1, 2, [3, 4]]

In [54]:
nest[2]

[3, 4]

In [56]:
nest[2][1]

4

In [57]:
nest = [1,2,3,[4,5,['target']]]

In [58]:
print(nest[3][2][0])

target

<h1>Dictionaries</h1>

In [59]:
d = {"key1":"value","key2":123}

In [60]:
d['key1']

'value'

In [61]:
d["key2"]

123

In [62]:
d = {"k1":[1,2,3]}#can put any data type inside dictionary

In [63]:
d['k1']

[1, 2, 3]

In [64]:
d['k1'][0]

1

In [65]:
d = {"k1":{"innerKey":[1,2,3]}}

In [68]:
d['k1']['innerKey']

[1, 2, 3]

In [69]:
True

True

In [70]:
False

False

<h1>Tuples</h1>

In [71]:
t = (1,2,3)

In [72]:
t[0]

1

In [74]:
#t[0]=2#tuple are immutable

<h2>SETS</h2>

In [75]:
{1,2,3}

{1, 2, 3}

In [76]:
{1,1,1,2,3,4,5,5,4}

{1, 2, 3, 4, 5}

In [77]:
#only unique elements

In [80]:
s =set([1,2,3,4,4,3,2,7])

In [81]:
s.add(4)

In [82]:
s

{1, 2, 3, 4, 7}

<h2>Comparison Operators</h2>

In [83]:
1>2

False

In [84]:
1<2

True

In [85]:
1<=1

True

In [86]:
1==2

False

In [87]:
1 != 2

True

In [88]:
"h1" == "bye"

False

In [89]:
1 < 2 and 2 <3

True

In [91]:
(1 <2 ) and( 2>3)

False

In [92]:
1<2 or 2>3

True

In [93]:
 True and True

True

In [94]:
True and False

False

In [95]:
True or False

True

<h1>Code Blocks</h1>

In [96]:
if 1<2:
    print ('yep')

yep

In [97]:
if True:
    print ("something")

something

In [101]:
if 1 ==2 :
    print ("first")
elif 3==3:
    print ("middle")
else:
    print("last")

middle

In [102]:
seq = [1,2,3,4,5]

In [103]:
for item in seq:
    print(item)

1
2
3
4
5

In [104]:
for item in seq:
    print("hello")

hello
hello
hello
hello
hello

In [107]:
i=1
while (i<5):
    print ('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [108]:
for x in seq:
    print(x)

1
2
3
4
5

In [109]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [110]:
for x in list(range(0,10)):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [111]:
#List Comprehension

In [112]:
x = [1,2,3,4]

In [113]:
out =[]
for num in x:
    out.append(num**2)

In [114]:
print(out)

[1, 4, 9, 16]

In [115]:
out = [num**2 for num in x]

In [116]:
print(out)

[1, 4, 9, 16]

In [124]:
out = [num**3  for num in x]

In [125]:
print(out)

[1, 8, 27, 64]

<h1>Functions in Python</h1>

In [126]:
def func(param1):
    print(param1)

In [127]:
func("hello")

hello

In [128]:
def func(name):
    print("Hello"+name)

In [129]:
func("Ankit")

HelloAnkit

In [130]:
def func(name="Default Name"):
    print("Hello "+name)

In [131]:
func("Ankit")

Hello Ankit

In [132]:
func()

Hello Default Name

In [133]:
func

In [137]:
def square(num):
    """
    THIS IS A DOCSTRING
    CAN GO MULTIPLE LINES
    THIS FUNCTION SQUARES A NUMBER
    """
    return num*num

In [135]:
output = square(2)

In [136]:
print(output)

4

<h1>MAP and FILTER FUNCTION</h1>

In [138]:
def times2(var):
    return var*2

In [139]:
times2(10)

20

In [140]:
seq = [1,2,3,4,5]

In [141]:
map(times2,seq)

In [142]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

<h1>LAMDA EXPRESSION</h1>

In [144]:
t = lambda var:var*2

In [145]:
t(6)

12

In [147]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

<h1>Filter</h1>

In [148]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

<h1>Few BuiltIN Methods obj. press Tab to see</h1>

In [149]:
str = "Hello my name i Ankit"

In [150]:
str.lower()

'hello my name i ankit'

In [151]:
str.upper()

'HELLO MY NAME I ANKIT'

In [153]:
str.split()#by default all the white space split

['Hello', 'my', 'name', 'i', 'Ankit']

In [154]:
tweet ="Gor Sports! #Sports"

In [157]:
tweet.split()

['Gor', 'Sports!', '#Sports']

In [158]:
tweet.split("#")

['Gor Sports! ', 'Sports']

In [159]:
d = {'k1':1,'k2':2}

In [161]:
d.keys()

dict_keys(['k2', 'k1'])

In [163]:
d.items()

dict_items([('k2', 2), ('k1', 1)])

In [164]:
d.values()

dict_values([2, 1])

In [165]:
lst =[1,2,3]

In [166]:
lst.pop()

3

In [167]:
lst

[1, 2]

In [168]:
lst = [1,2,3,4,5]

In [169]:
lst.pop()

5

In [170]:
lst.pop(0)

1

In [171]:
lst

[2, 3, 4]

In [172]:
lst.append(5)

In [173]:
lst

[2, 3, 4, 5]

In [174]:
"x" in [1,2,3]

False

In [175]:
'x' in ['x',1,2]

True

<h1>Tuple Unpacking</h1>

In [176]:
x = [(1,2),(3,4),(5,6)]

In [177]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [180]:
for (a,b) in x: #Unpack the tuple without going inside
    print (a,"######",b)

1 ###### 2
3 ###### 4
5 ###### 6